* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #cfd9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #fff;
    border-radius: 20px;
    width: 800px;
    height: 450px;
    position: relative;
    overflow: hidden;
}

/* FORM */
.form-container {
    position: absolute;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

form {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    height: 100%;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    background: #512da8;
    color: #fff;
    border: none;
    padding: 10px 40px;
    border-radius: 6px;
    cursor: pointer;
}

/* SIGN IN / UP */
.sign-in {
    left: 0;
    z-index: 2;
}

.container.active .sign-in {
    transform: translateX(100%);
}

.sign-up {
    left: 0;
    opacity: 0;
}

.container.active .sign-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

/* SOCIAL */
.social-icons {
    margin-bottom: 10px;
}
.social-icons a {
    border: 1px solid #aaa;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    cursor: pointer;
}

.social-icons a i {
    color: #512da8;
}

.social-icons a i:hover {
    color: aqua;
}


span {
    margin-bottom: 10px;
}

a.fg {
    text-decoration: none;
    margin-top: 5px;
    margin-bottom: 25px;
}

/* TOGGLE */
.toggle-container {
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s;
    z-index: 1000;
    border-radius: 150px 0 0 100px;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle {
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: white;
    position: relative;
    left: -100%;
    width: 200%;
    height: 100%;
    transition: 0.6s;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.toggle-left {
    left: 0;
}

.toggle-right {
    right: 0;
}

.hidden {
    background: transparent;
    border: 1px solid #fff;
}


